apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: k3s-args-cluster
servers: 1
agents: 0
options:
  k3s:
    extraArgs:
      - arg: "--disable=traefik"
        nodeFilters:
          - server:*
